<div class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Lo mejor de tu pueblo, a un clic</h1>
      <p>
        Descubre los mejores locales y disfruta de todo tipo de productos
        entregados directamente en tu casa. ¡Apoya a los negocios de tu
        comunidad!
      </p>
      <button class="cta-button" [routerLink]="'/catalogo'">
        Ordenar Ahora
      </button>
    </div>
    <div class="floating-elements">
      <div class="floating-circle circle-1"></div>
      <div class="floating-circle circle-2"></div>
      <div class="floating-circle circle-3"></div>
    </div>
  </div>
</div>
