<div class="static-slider9 position-relative">
  <!-- Contenedor de Imagen de Fondo con Opacidad -->
  <div class="background-overlay"></div>
  <div class="container h-100 d-flex align-items-center">
    <div class="row w-100 align-items-center">
      <!-- Columna de Texto y Formulario -->
      <div class="col-md-6 info-detail text-center text-md-left">
        <h1 class="title">¿Listo para descubrir los mejores sabores cerca de ti?</h1>
        <h6 class="subtitle">Encuentra tus platos favoritos y recibe en minutos. ¡Rápido, fresco y delicioso!</h6>
        <p class="text-dark font-weight-medium">Ingresa tu correo electrónico para obtener la App</p>
        <form class="form-inline justify-content-center justify-content-md-start mt-3">
          <div class="input-group">
            <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Correo electrónico">
            <div class="input-group-append">
              <button type="submit" class="btn btn-lg btn-success-gradient text-white">Obtener la App</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Columna de Imagen Representativa de Food Delivery -->
      <div class="col-md-6 ">
        <img src="https://images.unsplash.com/photo-1551218808-94e220e084d2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-4.0.3&q=80&w=800" 
             class="food-delivery-img img-fluid rounded" 
             alt="Imagen de comida">
      </div>
    </div>
  </div>
</div>
