<div class="food-delivery-info-section text-center">
  <div class="container py-5">
    <h1 class="text-body-emphasis">¿Hambre? ¡Estamos Aquí para Ayudarte!</h1>
    <p class="lead">
      "Explora nuestro <code>menú de entrega</code> para disfrutar de tus platos favoritos directamente en tu puerta. Desde <code>platos saludables y rápidos</code> hasta opciones más indulgentes, 
      tenemos lo que necesitas para satisfacer tu apetito. ¡Haz tu pedido <code>hoy</code> y experimenta la comodidad de la comida a domicilio rápida y fresca!"
    </p>
    <button class="btn-explore-menu">Explorar Menú</button>
  </div>
</div>
