<div id="cartSidebar" class="cart-sidebar">
    <div class="container">
      <h2 class="my-4">Carrito de Compras</h2>
  
      <!-- Si el carrito está vacío -->
      @if(cart.length === 0) {
        <div class="alert alert-info">
          Tu carrito está vacío.
        </div>
      }
  
      <!-- Si el carrito tiene productos, los mostramos -->
      @for(item of cart; track cart) {
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6">
              <img [src]="item.Foto" class="img-fluid rounded-start img-carrito" alt="{{ item.Nombre }}">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">{{ item.Nombre }}</h5>
                <p class="card-text">Cantidad: {{ item.quantity }}</p>
                <p class="card-text">Precio: {{ item.Precio * item.quantity | currency:'EUR' }}</p>
                <button class="btn btn-danger" (click)="removeFromCart(item.ID_Producto)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  
    <!-- Botón para cerrar el carrito -->
    <button class="btn btn-primary close-btn" (click)="closeCart()">Cerrar</button>
</div>
  
  <!-- Botón del carrito (por ejemplo, en el navbar o en cualquier lugar) -->
  <mat-icon class="m-2" (click)="openCart()">shopping_cart</mat-icon>