<div id="cartSidebar" class="cart-sidebar">
  <div class="container">
    <h2 class="m-4"><strong>Carro</strong></h2>

    <!-- Si el carrito está vacío -->
    @if(cart.length != 0) {
      
    <!-- Si el carrito tiene productos, los mostramos -->
    @for(item of cart; track cart) {
      <!-- <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-6">
                  <img [src]="item.Foto" class="img-fluid rounded-start img-carrito" alt="{{ item.Nombre }}">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.Nombre }}</h5>
                    <p class="card-text">Cantidad: {{ item.quantity }}</p>
                    <p class="card-text">Precio: {{ item.Precio * item.quantity | currency:'EUR' }}</p>
                    <button class="btn btn-danger" (click)="removeFromCart(item.ID_Producto)">Eliminar</button>
                  </div>
                </div>
              </div>
            </div> -->
  
      <div class="container">
        <mat-icon class="m-2 deleteproduct text-secondary" (click)="removeFromCart(item.ID_Producto)">clear</mat-icon>
        <div class="cart-item">
          
          <img alt="Bottle of olive oil" [src]="item.Foto" />
          <div class="item-details">
            <h6>
              {{item.Nombre}}
            </h6>
            <div>
              <span class="price">
                {{item.Precio}}
              </span>
              /ud.
            </div>
            <div class="quantity-control">
              <strong>{{item.quantity}} ud.</strong>
                <button  (click)="increaseQuantity(item.ID_Producto)"  mat-mini-fab aria-label="Example icon button with a menu icon">
                  <mat-icon>add</mat-icon>
                </button>
            </div>
          </div>
        </div>
  
      </div>
      }
  
      <div class="cart-footer">
        <div>
          <i class="fas fa-info-circle"></i>
          Total aproximado
        </div>
        <div class="total">
          {{getTotal()}}
        </div>
        <button class="checkout-btn" [routerLink] = "'/payment'">
          Tramitar pedido
        </button>
      </div>

    }@else{
      <div class="alert alert-danger">
        Tu carrito está vacío.
      </div>
    }


  </div>

  <!-- Botón para cerrar el carrito -->
  <!-- <button class="btn btn-primary close-btn" (click)="closeCart()">Cerrar</button> -->
  <mat-icon class="m-2 close-btn" (click)="closeCart()">clear</mat-icon>
</div>

<!-- Botón del carrito (por ejemplo, en el navbar o en cualquier lugar) -->
<mat-icon class="m-2" (click)="openCart()">shopping_cart</mat-icon>
