
<div class="container text-center">
    <h1 class="mt-5 mb-5">Página de contacto</h1>
    <div class="row align-items-center">
      <div class="col-md-6 mt-5 mb-5">
        <p class="fs-5 lh-base text-secondary">
          Somos un equipo de apasionados por <strong> fitness y la tecnología</strong>, comprometidos con ofrecer soluciones innovadoras en el mundo del <strong>entrenamiento y la salud</strong>. Conformado por cuatro talentosos programadores, combinamos nuestra <strong>pasión</strong>por el ejercicio con nuestra experiencia en desarrollo de software para crear herramientas que ayuden a las personas a <strong>alcanzar sus objetivos</strong> de forma efectiva y motivadora.
        </p>
        
      </div>
      <div class="col-md-6">
        <img src="./assets/images/fotodavid.jpeg" alt="Equipo de trabajo" class="img-fluid rounded-circle" style="max-width: 150px;">
        <img src="./assets/images/fotoarnau.jpeg" alt="Equipo de trabajo" class="img-fluid rounded-circle" style="max-width: 150px;">
        <br>
        <img src="./assets/images/fotojulen.jpg" alt="Equipo de trabajo" class="img-fluid rounded-circle" style="max-width: 150px;">
        <img src="./assets/images/fotoborja.jpeg" alt="Equipo de trabajo" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>
    </div>
  </div>

  
