
<div class="store-card">
  
  <div class="store-image">
      <img src="{{tienda.foto}}" alt="TechStore">
  </div>
  <div class="store-info">

      <p class="store-name">{{tienda.Nombre}}</p>
      <p class="store-category">{{tienda.Categoria}}</p>
      <div class="store-rating">
          <span>{{tienda.Calificacion_Promedio}}</span>
          <span class="star">★</span>
      </div>
      <button class="order-btn">Ordenar ahora</button>
      @if(promociones.length > 0){
        <div class="badge bg-danger text-white mt-2">
          ¡Descuentos disponibles!
        </div>
      }
  </div>
</div>
