<div class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div id="main">
            <div class="fof">
                    <h1 >Error</h1>
                    <h1 class="h1animation text-danger">404</h1>
                    <h6>Página no encontrada.</h6>
                    <p><a href="/" class="btn btn-primary mt-5" aria-current="page" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Página de inicio</a></p>
            </div>
        </div>
 </div>
    
</div>