<section class="py-5 bg-secondary-subtle justify-content-center">
	<div class="container justify-content-center">
		<div class="row align-items-center gx-4">

			<div class="col-md-5 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<h2 class="display-5 fw-bold">Sobre Nosotros</h2>
					<p class="lead">En GymStore, nos dedicamos a brindarte todo lo que necesitas para alcanzar tus objetivos de fitness. Somos más que un gimnasio, somos tu compañero en el camino hacia una vida más saludable y activa.</p>
					<p class="lead mb-0">¿Estás listo para ponerte en forma y alcanzar tus objetivos de acondicionamiento físico? Ven a visitarnos hoy mismo y únete a la comunidad Gymstore. Te ayudaremos a alcanzar tus objetivos, te divertirás y conocerás gente nueva. No esperes más, ¡ven a visitarnos hoy mismo!</p>
				</div>
			</div>

            <div class="col-md-5">
				<div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="./assets/images/logoreparto.png"></div>
			</div>
		</div>
	</div>
</section>

