
@if (data.length > 0) {
  <div class="container-fluid text-center p-5 ">


    <div class="search-container" w-tid="10">
      <input type="text" class="search-input" placeholder="Buscar tiendas..." w-tid="11" [(ngModel)]="searchTerm" (ngModelChange)="filterDatabyName()">
    </div>
    <div class="categories">
      <select class="category-dropdown" [(ngModel)]="categoriasSelected" (ngModelChange)="filterDatabyCategory()">
          <option value="">Seleccionar categoría...</option>
          @for(categoria of categorias; track categoria){
            <option>{{categoria.Nombre}}</option>
          } 
      </select>
      <div class="categories-wrapper">
          <input type="text" class="category-search" placeholder="Buscar categoría...">
          <div class="category-list">

          </div>
      </div>
  </div>
  
  @if(filteredData.length > 0){
    <div class="results-counter" style="max-width: 1200px; margin: 1rem auto; padding: 0 2rem; color: #666;text-align: left;" w-tid="19">
      <span id="results-count" w-tid="20">{{filteredData.length}}</span> resultados encontrados
    </div>
  }@else{
    <div class="results-counter" style="max-width: 1200px; margin: 1rem auto; padding: 0 2rem; color: #666;text-align: left;" w-tid="19">
      <span id="results-count" w-tid="20">{{data.length}}</span> resultados encontrados
    </div>
  }
      
  <div class="stores-grid" w-tid="18">
      @if (filteredData.length > 0) { 

          @for(item of filteredData; track item.ID_Establecimiento){
            <app-shop [routerLink]="'/catalogo/' + item.ID_Establecimiento" [tienda]="item"/>
        }

      }@else {      
          @for(data of data; track data.ID_Establecimiento){
            <app-shop [routerLink] = "'/catalogo/' + data.ID_Establecimiento" [tienda]= "data"/>
          }
        }
      </div>
    </div>
  

}@else {
  <div class="container text-center mt-5 pb-5">
    <h1 class="large">No hay Tiendas</h1>
  <div class="spinner-border text-succes " role="status">
      <span class="visually-hidden">Loading...</span>
      <div class="container mt-5 mb-5">
        
      </div>
  </div>
</div>
}


