<div id="cartSidebar" class="cart-sidebar">
  <div class="container">
    <h2 class="m-4"><strong>Carro</strong></h2>


    @if(cart.length != 0) {
      
    @for(item of cart; track cart) {
  
      <div class="container">
        <mat-icon class="m-2 deleteproduct text-secondary" (click)="removeFromCart(item.ID_Producto)">clear</mat-icon>
        <div class="cart-item">
          
          <img alt="Bottle of olive oil" [src]="item.Foto" />
          <div class="item-details">
            <h6>
              {{item.Nombre}}
            </h6>
            <div>
              <span class="price">
                {{item.Precio}}
              </span>
              /ud.
            </div>
            <div class="quantity-control">
              <strong>{{item.quantity}} ud.</strong>
                <button  (click)="increaseQuantity(item.ID_Producto)"  mat-mini-fab aria-label="Example icon button with a menu icon">
                  <mat-icon>add</mat-icon>
                </button>
            </div>
          </div>
        </div>
  
      </div>
      }
  
      <div class="cart-footer">
        <div>
          <i class="fas fa-info-circle"></i>
          Total aproximado
        </div>
        <div class="total">
          {{getTotal()}}
        </div>
        <button class="checkout-btn" [routerLink] = "'/payment'">
          Tramitar pedido
        </button>
      </div>

    }@else{
      <div class="alert alert-danger">
        Tu carrito está vacío.
      </div>
    }


  </div>


  <mat-icon class="m-2 close-btn" (click)="closeCart()">clear</mat-icon>
</div>

<mat-icon class="m-2" (click)="openCart()">shopping_cart</mat-icon>
