<div class="p-5 text-center bg-success-subtle ">
    <div class="container py-5">
      <h1 class="text-body-emphasis ">Información</h1>
      <p class="col-lg-8 mx-auto lead">
        "Explora nuestra <code>plataforma fitness</code> para encontrar una amplia gama de productos y equipos para el ejercicio en casa o en el gimnasio. Desde <code>suplementos y ropa deportiva</code> hasta consejos de expertos y programas de entrenamiento personalizados, tenemos todo lo que necesitas para alcanzar tus objetivos de fitness. ¡Empieza <code>hoy</code> mismo tu viaje hacia una vida más activa y saludable con nuestra comunidad fitness!"
      </p>
    </div>
  </div>