<!-- @if (data) {

<div class="container-fluid text-center pb-5 ">
  <div class="row m-5">
    <h2>Tiendas Mejor Valoradas</h2>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center ">
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
          <div class="card border-0 rounded-0 shadow" style="height: 100%;">
              <img src="{{data.foto}}" class="card-img-top rounded-0" alt="imagen bestsellers">
              <div class="card-body mt-3 mb-3">
                <div class="row">
                  <div class="col-12">
                    <h4 class="card-title">{{data.Nombre}}</h4>
                    <p class="card-text text-center">
                      {{data.Horario_Apertura + ' - ' + data.Horario_Cierre}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row align-items-center text-center g-0">
                <div class="col-12">
                  <a href="#" class="btn btn-success w-100 p-3 rounded-0 " [routerLink]="['/catalogo/' + data.ID_Establecimiento]">Comprar</a>
                </div>
              </div>
          </div>
      </div>

    </div>
  </div>

  </div>

}
 -->

 <div class="popular-categories position-relative" [routerLink]="'/catalogo/'">
  <h2>Categorías Populares</h2>
  
  <div class="category-grid">
    <!-- Item 1 -->
    <div class="category-item">
      <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg" alt="Pizzas">
      <h3>Pizzas</h3>
    </div>
    <!-- Item 2 -->
    <div class="category-item">
      <img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/hamburger-1238246_960_720.jpg" alt="Comida Rápida">
      <h3>Comida Rápida</h3>
    </div>
    <!-- Item 3 -->
    <div class="category-item">
      <img src="https://images.unsplash.com/photo-1589302168068-964664d93dc0?q=80&w=1080" alt="Postres">
      <h3>Postres</h3>
    </div>
    <!-- Item 4 -->
    <div class="category-item">
      <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1080" alt="Saludables">
      <h3>Saludables</h3>
    </div>
  </div>

  <!-- Superposición para el enlace general -->
  <div class="overlay-link">
    <span>Explora el Catálogo Completo</span>
  </div>
</div>
