
<section class="top-rated">
  <h2 class="section-title">Tiendas Mejor Valoradas</h2>
  <div class="store-grid">
@for (tienda of data; track $index) {

            <div class="store-card">
                <div class="store-image">
                    <!-- <img src="{{tienda.foto}}" alt="{{tienda.Nombre}}"> -->
                </div>
                <div class="store-info">
                    <h3>{{tienda.Nombre}}</h3>
                    <div class="rating">★{{tienda.Calificacion_Promedio}}</div>
                    <p>{{tienda.Direccion}}</p>
                </div>
            </div> 
  }
</div>
</section>