<div class="containerPrincipal">
    <app-area-banner></app-area-banner>



    <div class="informaciondelhome">
        <app-informacion-home></app-informacion-home>
    </div>
    
    <div class="bestsellers">
        <app-bestsellers></app-bestsellers>
    </div>

    <div class="popularCategories">
        <app-popularcategories></app-popularcategories>
    </div>
    
    <div class="about-us">
        <app-about-us></app-about-us>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
