 <!-- <div class="col align-items-center mb-5 h-100">
    <div class="card caja h-100 shadow-sm ">
      <img src="{{product.Foto}}" alt="imagen card" class="card-img-top">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title fs-2">{{product.Nombre}}</h4>
        <p class="card-text fs-4 flex-grow-1">{{product.Descripcion}}</p>
        <p class="card-text fs-4 flex-grow-1">{{ product.Precio| currency : "EUR" }}</p>
        <div class="text-center mt-auto">
        </div>
      </div>
    </div>
  </div> -->


  @if(product.Precio_Promocion === null){
    <div class="card custom-card">
      <img src="{{product.Foto}}" alt="{{product.Nombre}}" class="card-img-top">
      <div class="card-body">
          <h5 class="product-name">{{product.Nombre}}</h5>
          <p class="price">{{ product.Precio| currency : "EUR" }}</p>
          <p class="location">{{product.Descripcion}}</p>
      </div>
      <div>
        <button class="btn" (click)="addToCart(product, $event)"><mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </div>
  }@else{
    <div class="card custom-card">
      <img src="{{product.Foto}}" alt="{{product.Nombre}}" class="card-img-top">
      <div class="card-body">
          <h5 class="product-name">{{product.Nombre}}</h5>
          <p class="price">{{ product.Precio| currency : "EUR" }}</p>
          <p>Precio Con Promoción: {{product.Precio_Promocion| currency : "EUR" }}</p>
          <p class="location">{{product.Descripcion}}</p>
      </div>
      <div>
        <button class="btn" (click)="addToCart(product, $event)"><mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </div>
  }
