
@if (data) {
    <div class="container-fluid text-center pb-5">
      <div class="container mt-5 mb-5">
        <h1 class="large">Productos</h1>
      </div>
    <!-- Iteramos sobre las tiendas (Productos.productos) -->
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let data of data" class="container-fluid text-center pb-5">
      
        <div class="col mb-5">
          <div class="card h-100">
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <img class="card-img-top" src="{{data.foto}}" alt="foto Productos Relacionados" />
              <div class="card-body p-4">
                  <div class="text-center">
                      <h5 class="fw-bolder">{{data.nombre}}</h5>
                      {{data.precio}}€
                  </div>
              </div>
              <!-- Botón de compra -->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                      <a class="btn btn-outline-dark mt-auto" [routerLink]="['/paginapago/' + data.id]">Comprar</a>
                  </div>
              </div>
          </div>
      </div>
      </div>

    </div>
    </div>
  </div>

}