@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
.caja{
    transition: transform 0.3s ease-in-out;
}
.caja:hover {
    transform: scale(1.05);
  }


  .card {
    border: none;
    border-radius: 0.5rem; /* Opcional: Bordes redondeados */
    overflow: hidden; /* Opcional: Para asegurar que los bordes redondeados se mantengan */
  }
  
  .card-img-top {
    width: 100%;
    height: 250px; /* Ajusta según el tamaño deseado */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
  }
  
  /* Opcional: Ajusta el tamaño de la tarjeta para pantallas más pequeñas */
  @media (max-width: 576px) {
    .card-img-top {
      height: 150px; /* Ajusta según sea necesario */
    }
  }
  